.browserid-login {
    border: 0;
    width: 185px;
    height: 25px;
    cursor: pointer;
    background: url(https://developer.mozilla.org/files/3963/persona_sign_in_blue.png);
    text-indent: -9999px;
}

.chatwindow {
    margin-bottom: 0px;
}

.messagewindow {
    width: 100%;
    overflow:auto;
    overflow-y: scroll;
}

.inputbox {
    margin-top: 10px;
    margin-bottom: 0px;
    display: inline-block;
    width: 100%;
}

.inputbox .text-field {
    width: 80%;
    display: inline-block;
}

.inputbox .button {
    width: 18%;
    display: inline-block;
    float: right;
}

.container {
    overflow: auto;
}

body {
    overflow: hidden;
}

.sender-self {
    background-color: #f3f3f3 !important;
}

.sender-other {
    background-color: #dfdfdf !important;
}

* {
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

.message {
    width: auto;
    min-height: 50px;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 10px;
}

.message-author-name {
    width: auto;
    font-size: 12px;
    font-style: italic;
}

.timeago {
    font-size: 10px;
    font-color: #ccc;
    float: right;
}

.message .text {
    padding: 0px;
    font-size: smaller;
}
