<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Smiegel</title>
    <link rel="stylesheet" href="css/chatapp.css">
  </head>
  <body>
    <section id="react"></section>
    <script src="js/bundle.js"></script>
  </body>
</html>

<!DOCTYPE html>
<html>
  <head>
    <title>Smiegel</title>
    <link rel="stylesheet" media="screen" href="assets/stylesheets/main.css">
    <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
    <script src="/content/smiegel.js"></script>
  </head>
  <body>
    <div id="chat-app"></div>

    <script src="/assets/js/vendor/eventsource.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//fb.me/react-0.8.0.min.js"></script>
    <script src="//fb.me/JSXTransformer-0.8.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script type="text/jsx" src="assets/js/react-app.js"></script>
  </body>
</html>
